<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.wbu.mapper.MenuMapper">
  		<resultMap type="Menu" id="mymap">
  			<id property="id" column="id"/>
  			<collection property="children" select="com.wbu.mapper.MenuMapper.selBypid" column="id"></collection>
  		</resultMap>
        <select id="" parameterType="int" resultMap="mymap">
        	select * from menu where pid=#{0}
        </select>
  </mapper>